@import '';

/* _content/BlazorFluentUI.BFUNavBar/BFUNavBar.razor.rz.scp.css */
.ms-NavBar-horizontal[b-r7xli1a8zj] {
    display: flex;
    background-color: var(--semanticColors-BodyBackground);
    padding: 0 14px 0 24px;
    height: 44px;
    flex-grow: 1;
}

[b-r7xli1a8zj] .ms-NavBar-horizontal-primarySet {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.ms-NavBar-horizontal-secondarySet[b-r7xli1a8zj] {
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
}


.ms-NavBar-horizontal[b-r7xli1a8zj]  .ms-Button--commandBar.is-checked::after {
    border-bottom: 2px solid var(--palette-ThemePrimary);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}


.ms-NavBar-horizontal[b-r7xli1a8zj]  .ms-Button.ms-Button--commandBar:hover {
    color: var(--palette-ThemePrimary);
}

.ms-NavBar-horizontal[b-r7xli1a8zj]  .ms-Button.ms-Button--commandBar.is-checked:hover {
    background-color: var(--semanticColors-BodyBackgroundHovered);
}


.ms-NavBar-horizontal[b-r7xli1a8zj]  .ms-Button.ms-Button--commandBar.is-checked .ms-Button-label {
    font-weight: var(--fontWeight-SemiBold);
}

.ms-NavBar-horizontal[b-r7xli1a8zj]  .ms-Button.ms-Button--commandBar.subgroup-is-checked {
    background-color: var(--palette-NeutralLighter);
}


    .ms-NavBar-horizontal[b-r7xli1a8zj]  .ms-Button.ms-Button--commandBar.subgroup-is-checked::after {
        border-bottom: 2px solid var(--palette-ThemeLight);
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }


.ms-NavBar-horizontal[b-r7xli1a8zj]  .ms-Button.ms-Button--commandBar.is-checked:hover {
    background-color: var(--semanticColors-BodyBackgroundHovered);
}


.ms-NavBar-horizontal[b-r7xli1a8zj]  .ms-ContextualMenu-item.is-checked .ms-ContextualMenu-itemText {
    font-weight: var(--fontWeight-SemiBold);
}


[b-r7xli1a8zj] .ms-ContextualMenu-link.subgroup-is-checked {
    background-color: var(--palette-NeutralLighter);
}
