@import '';

/* _content/BlazorFluentUI.BFUMarqueeSelection/BFUMarqueeSelection.razor.rz.scp.css */
.ms-MarqueeSelection[b-805u62t1ed] {
    position: relative;
    cursor: default;
}

.ms-MarqueeSelection-dragMask[b-805u62t1ed] {
    position: absolute;
    background: rgba(255,0,0,0);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

@media screen and (-ms-high-contrast: active){
    .ms-MarqueeSelection-dragMask[b-805u62t1ed] {
        background: none;
        background-color: transparent;
    }
}

.ms-MarqueeSelection-box[b-805u62t1ed] {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid var(--palette-ThemePrimary);
    z-index: 10;
}


@media screen and (-ms-high-contrast: active) {
    .ms-MarqueeSelection-box[b-805u62t1ed] {
        border-color: Highlight;
    }
}


.ms-MarqueeSelection-boxFill[b-805u62t1ed] {
    position: absolute;
    box-sizing: border-box;
    background-color: var(--palette-ThemePrimary);
    opacity: 0.1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

@media screen and (-ms-high-contrast: active) {
    .ms-MarqueeSelection-boxFill[b-805u62t1ed] {
        background: none;
        background-color: transparent;
    }
}

