@import '';

/* _content/BlazorFluentUI.BFURating/BFURating.razor.rz.scp.css */

[b-5tkomom2yu] .ms-RatingStar-root:hover .ms-RatingStar-back {
    color: var(--palette-NeutralPrimary);
}

.ms-RatingStar-root--small[b-5tkomom2yu] {
    height: 48px;
}

.ms-RatingStar-root--large[b-5tkomom2yu] {
    height: 56px;
}

[b-5tkomom2yu] .ms-RatingStar-root--small {
    height: 48px;
}

[b-5tkomom2yu] .ms-RatingStar-root--large {
    height: 56px;
}

.ms-RatingStar-container[b-5tkomom2yu] {
    display: inline-block;
    position: relative;
    height: inherit;
}

[b-5tkomom2yu] .ms-RatingStar-back {
    color: var(--palette-NeutralSecondary);
    width: 100%;
}

[b-5tkomom2yu] .ms-RatingStar-back--disabled {
    color: var(--semanticTextColors-DisabledBodySubtext);
    width: 100%;
}

@media screen and (-ms-high-contrast: active) {
    [b-5tkomom2yu] .ms-RatingStar-back--disabled {
        color: GrayText;
    }
}


[b-5tkomom2yu] .ms-RatingStar-front {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    color: var(--palette-NeutralPrimary);
    width: 0px;
}

@media screen and (-ms-high-contrast: active) {
    [b-5tkomom2yu] .ms-RatingStar-front {
        color: Highlight;
    }
}

.ms-Rating-button[b-5tkomom2yu] {
    background-color: transparent;
    padding: 8px 2px;
    box-sizing: content-box;
    margin: 0;
    border: none;
    cursor: pointer;
    outline: transparent;
    position: relative;
}

.ms-Rating-button[b-5tkomom2yu]::-moz-focus-inner {
    border: 0;
}

.ms-Fabric--isFocusVisible .ms-Rating-button:focus[b-5tkomom2yu]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}

    .ms-Rating-button:not(.ms-Rating-button--disabled):hover ~ .ms-Rating-button .ms-RatingStar-back[b-5tkomom2yu] {
        color: var(--palette-NeutralSecondary);
    }

    .ms-Rating-button:not(.ms-Rating-button--disabled):hover ~ .ms-Rating-button .ms-RatingStar-front[b-5tkomom2yu] {
        color: var(--palette-NeutralSecondary);
    }

.ms-Rating-button--disabled[b-5tkomom2yu] {
    background-color: transparent;
    padding: 8px 2px;
    box-sizing: content-box;
    margin: 0;
    border: none;
    cursor: default;
    outline: transparent;
    position: relative;
}

    .ms-Rating-button--disabled[b-5tkomom2yu]::-moz-focus-inner {
        border: 0;
    }

.ms-Fabric--isFocusVisible .ms-Rating-button--disabled:focus[b-5tkomom2yu]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}

.ms-Rating-button:hover .ms-RatingStar-back[b-5tkomom2yu] {
    color: var(--palette-ThemePrimary);
}


.ms-Rating-button:hover .ms-RatingStar-front[b-5tkomom2yu] {
    color: var(--palette-ThemeDark);
}

.ms-Rating--small[b-5tkomom2yu] {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
}

.ms-Rating--large[b-5tkomom2yu] {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
}

.ms-Rating-labelText[b-5tkomom2yu] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
}


.ms-RatingStar-root--small[b-5tkomom2yu]  .ms-Rating-focuszone,
.ms-RatingStar-root--large[b-5tkomom2yu]  .ms-Rating-focuszone {
    display: inline-block;
    outline: transparent;
    position: relative;
}
    .ms-RatingStar-root--small[b-5tkomom2yu]  .ms-Rating-focuszone::-moz-focus-inner,
    .ms-RatingStar-root--large[b-5tkomom2yu]  .ms-Rating-focuszone::-moz-focus-inner {
        border: 0;
    }

.ms-Fabric--isFocusVisible .ms-RatingStar-root--small[b-5tkomom2yu]  .ms-Rating-focuszone:focus::after,
.ms-Fabric--isFocusVisible .ms-RatingStar-root--large[b-5tkomom2yu]  .ms-Rating-focuszone:focus::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}
