@import '';

/* _content/BlazorFluentUI.BFUCalendar/BFUCalendar.razor.rz.scp.css */

.ms-Calendar[b-35xfdnw97e] {
    box-sizing: border-box;
    box-shadow: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}



    .ms-Calendar[b-35xfdnw97e]  *::-moz-focus-inner {
        border: 0;
    }



    .ms-Calendar[b-35xfdnw97e]  * {
        outline: transparent;
        position: relative;
    }



.ms-Fabric--isFocusVisible .ms-Calendar[b-35xfdnw97e]  *:focus:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border: 1px solid var(--palette-NeutralSecondary);
}



.ms-Calendar-picker[b-35xfdnw97e] {
    color: var(--palette-Black);
    font-size: var(--fontSize-Medium);
    position: relative;
    text-align: left;
}



.ms-Calendar-holder[b-35xfdnw97e] {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    display: none;
}



.ms-Calendar-picker.ms-Calendar-pickerIsOpened .ms-Calendar-holder[b-35xfdnw97e] {
    box-sizing: border-box;
    display: inline-block;
}



.ms-Calendar-picker--opened[b-35xfdnw97e] {
    position: relative;
}



.ms-Calendar-frame[b-35xfdnw97e] {
    position: relative;
}



.ms-Calendar-wrap[b-35xfdnw97e] {
    min-height: 212px;
    padding: 12px;
    display: flex;
    box-sizing: content-box;
}



    .ms-Calendar-wrap.ms-Calendar-goTodaySpacing[b-35xfdnw97e] {
        min-height: 228px;
    }



[b-35xfdnw97e] .ms-Calendar-header {
    position: relative;
    display: inline-flex;
    height: 28px;
    line-height: 44px;
    width: 100%;
}



[b-35xfdnw97e] .ms-Calendar-divider {
    top: 0;
    margin-top: -12px;
    margin-bottom: -12px;
    border-right: 1px solid var(--palette-NeutralLight);
}



[b-35xfdnw97e] .ms-Calendar-monthAndYear,
[b-35xfdnw97e] .ms-Calendar-year,
[b-35xfdnw97e] .ms-Calendar-decade {
    display: inline-flex;
    flex-grow: 1;
    /*   @include ms-font-m; */
    font-weight: 600;
    color: var(--palette-NeutralPrimary);
    padding: 0 5px;
}



    [b-35xfdnw97e] .ms-Calendar-monthAndYear:hover,
    [b-35xfdnw97e] .ms-Calendar-currentYear:hover,
    [b-35xfdnw97e] .ms-Calendar-currentDecade:hover {
        cursor: default;
    }



[b-35xfdnw97e] .ms-Calendar-table {
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    margin-top: 3px;
    width: 197px;
}



    [b-35xfdnw97e] .ms-Calendar-table td {
        margin: 0;
        padding: 0;
    }



[b-35xfdnw97e] .ms-Calendar-dayWrapper,
[b-35xfdnw97e] .ms-Calendar-weekday {
    width: 28px;
    height: 28px;
    padding: 0;
    line-height: 28px;
    font-size: var(--fontSize-Small);
    /*  @include ms-font-m-plus; */
    color: var(--palette-NeutralPrimary);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    cursor: default;
}



    [b-35xfdnw97e] .ms-Calendar-dayWrapper *::-moz-focus-inner,
    [b-35xfdnw97e] .ms-Calendar-weekday *::-moz-focus-inner {
        border: 0;
    }



    [b-35xfdnw97e] .ms-Calendar-dayWrapper *,
    [b-35xfdnw97e] .ms-Calendar-weekday * {
        outline: transparent;
        position: relative;
    }



.ms-Fabric--isFocusVisible .ms-Calendar[b-35xfdnw97e]  .ms-Calendar-dayWrapper *:focus:after,
.ms-Fabric--isFocusVisible .ms-Calendar[b-35xfdnw97e]  .ms-Calendar-weekday *:focus:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    pointer-events: none;
    border: 1px solid var(--palette-NeutralSecondary);
}


[b-35xfdnw97e] .ms-Calendar-monthComponents,
[b-35xfdnw97e] .ms-Calendar-yearComponents,
[b-35xfdnw97e] .ms-Calendar-decadeComponents {
    display: inline-flex;
    align-self: flex-end;
}

[b-35xfdnw97e] .ms-Calendar-closeButton,
[b-35xfdnw97e] .ms-Calendar-prevMonth,
[b-35xfdnw97e] .ms-Calendar-nextMonth,
[b-35xfdnw97e] .ms-Calendar-prevYear,
[b-35xfdnw97e] .ms-Calendar-nextYear,
[b-35xfdnw97e] .ms-Calendar-prevDecade,
[b-35xfdnw97e] .ms-Calendar-nextDecade {
    font-family:inherit;
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    line-height: 24px;
    text-align:center;
    font-size: var(--fontSize-Small);
    color: var(--palette-NeutralPrimary);
    border-radius: 2px;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
}



    [b-35xfdnw97e] .ms-Calendar-closeButton:hover,
    [b-35xfdnw97e] .ms-Calendar-prevMonth:hover,
    [b-35xfdnw97e] .ms-Calendar-nextMonth:hover,
    [b-35xfdnw97e] .ms-Calendar-prevYear:hover,
    [b-35xfdnw97e] .ms-Calendar-nextYear:hover,
    [b-35xfdnw97e] .ms-Calendar-prevDecade:hover,
    [b-35xfdnw97e] .ms-Calendar-nextDecade:hover {
        cursor: pointer;
        color: var(--palette-NeutralDark);
        outline: 1px solid transparent;
    }



[b-35xfdnw97e] .ms-Calendar-prevMonthIsDisabled,
[b-35xfdnw97e] .ms-Calendar-nextMonthIsDisabled,
[b-35xfdnw97e] .ms-Calendar-prevYearIsDisabled,
[b-35xfdnw97e] .ms-Calendar-nextYearIsDisabled,
[b-35xfdnw97e] .ms-Calendar-prevDecadeIsDisabled,
[b-35xfdnw97e] .ms-Calendar-nextDecadeIsDisabled {
    pointer-events: none;
    color: var(--palette-NeutralTertiaryAlt);
}



[b-35xfdnw97e] .ms-Calendar-headerToggleView {
    display: flex;
    align-items: center;
    padding: 4px 8px;
}

    [b-35xfdnw97e] .ms-Calendar-headerToggleView:hover {
        color: var(--palette-Black);
        cursor: pointer;
    }

@media screen and (-ms-high-contrast: active) {
    [b-35xfdnw97e] .ms-Calendar-headerToggleView:hover {
        outline:1px solid Highlight;
    }

        [b-35xfdnw97e] .ms-Calendar-headerToggleView:hover:active {
            color:Highlight;
        }
}



[b-35xfdnw97e] .ms-Calendar-currentYear,
[b-35xfdnw97e] .ms-Calendar-currentDecade {
    display: inline-flex;
    flex-grow: 1;
    padding: 0 5px;
    /*@include ms-font-m;*/
    font-weight: 600;
    color: var(--palette-NeutralPrimary);
    height: 28px;
    line-height: 28px;
    margin-left: 5px;
}



[b-35xfdnw97e] .ms-Calendar-optionGrid {
    position: relative;
    height: 210px;
    width: 196px;
    margin: 4px, 0, 0, 0;
}



[b-35xfdnw97e] .ms-Calendar-monthOption,
[b-35xfdnw97e] .ms-Calendar-yearOption {
    font-size: var(--fontSize-Small);
    font-weight: var(--fontWeight-Regular);
    width: 60px;
    height: 60px;
    line-height: 100%;
    cursor: pointer;
    float: left;
    margin: 0 10px 10px 0;
    /*@include ms-font-s-plus;*/
    color: var(--palette-NeutralPrimary);
    text-align: center;
    border: none;
    padding: 0;
    background-color: transparent;
    border-radius: 2px;
}



    [b-35xfdnw97e] .ms-Calendar-monthOption:hover,
    [b-35xfdnw97e] .ms-Calendar-yearOption:hover {
        color: var(--palette-NeutralDark);
        background-color: var(--palette-NeutralLighter);
        outline: 1px solid transparent;
    }

@media screen and (-ms-high-contrast: active) {
    [b-35xfdnw97e] .ms-Calendar-monthOption:hover,
    [b-35xfdnw97e] .ms-Calendar-yearOption:hover {
        outline-color:Highlight;
    }
    [b-35xfdnw97e] .ms-Calendar-monthOption:active,
    [b-35xfdnw97e] .ms-Calendar-yearOption:active {
        outline-color: Highlight;
    }
}

[b-35xfdnw97e] .ms-Calendar-monthOption.ms-Calendar-monthIsHighlighted,
[b-35xfdnw97e] .ms-Calendar-yearOption.ms-Calendar-yearIsHighlighted {
    color: var(--palette-NeutralDark);
    background-color: var(--palette-NeutralLight);
}



[b-35xfdnw97e] .ms-Calendar-dayIsDisabled,
[b-35xfdnw97e] .ms-Calendar-monthOptionIsDisabled,
[b-35xfdnw97e] .ms-Calendar-yearOptionIsDisabled {
    color: var(--palette-NeutralTertiaryAlt);
    pointer-events: none;
}

    /*Button to navigate to the current date-*/

.ms-Calendar-goToday[b-35xfdnw97e] {
    bottom: 0;
    color: var(--palette-ThemePrimary);
    cursor: pointer;
    /*@include ms-font-s;*/
    color: var(--palette-NeutralPrimary);
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: transparent;
    border: none;
    position: absolute !important;
    box-sizing: content-box;
    right: 13px;
}

    .ms-Calendar-goToday:hover[b-35xfdnw97e] {
        color: var(--palette-ThemePrimary);
        outline: 1px solid transparent;
    }

    .ms-Calendar-goToday:active[b-35xfdnw97e] {
        color: var(--palette-ThemeDark);
    }

@media screen and (-ms-high-contrast: active) {
    .ms-Calendar-goToday:hover[b-35xfdnw97e] {
        outline-color: Highlight;
    }

    .ms-Calendar-goToday:active[b-35xfdnw97e] {
        color: Highlight
    }
}



.ms-Calendar-goToTodayIsDisabled[b-35xfdnw97e] {
    color: var(--palette-NeutralTertiaryAlt);
    pointer-events: none;
}

    .ms-Calendar-goTodayInlineMonth[b-35xfdnw97e] {
        top: 212px;
    }

    /*Additional 28px padding needed when Go to today button is visible*/

    .ms-Calendar-wrap.ms-Calendar-goTodaySpacing[b-35xfdnw97e] {
        padding-bottom: 28px;
    }

    /*State: The picker is showing the year components.*/

    .ms-Calendar-isPickingYears[b-35xfdnw97e]  .ms-Calendar-dayPicker,
    .ms-Calendar-isPickingYears[b-35xfdnw97e]  .ms-Calendar-monthComponents {
        display: none;
    }



    .ms-Calendar-isPickingYears[b-35xfdnw97e]  .ms-Calendar-monthPicker {
        display: none;
    }



    .ms-Calendar-isPickingYears[b-35xfdnw97e]  .ms-Calendar-yearPicker {
        display: block;
    }



    @media (min-device-width: 460px) {
        .ms-Calendar-wrap[b-35xfdnw97e] {
            padding: 12px;
        }

        [b-35xfdnw97e] .ms-Calendar-dayPicker,
        [b-35xfdnw97e] .ms-Calendar-monthPicker {
            min-height: 200px;
        }

        [b-35xfdnw97e] .ms-Calendar-header {
            height: 28px;
            line-height: 28px;
            width: 100%;
        }

        [b-35xfdnw97e] .ms-Calendar-dayWrapper,
        [b-35xfdnw97e] .ms-Calendar-weekday {
            width: 28px;
            height: 28px;
            line-height: 28px;
            font-size: var(--fontSize-Small);
        }

        [b-35xfdnw97e] .ms-Calendar-closeButton,
        [b-35xfdnw97e] .ms-Calendar-prevMonth,
        [b-35xfdnw97e] .ms-Calendar-nextMonth,
        [b-35xfdnw97e] .ms-Calendar-prevYear,
        [b-35xfdnw97e] .ms-Calendar-nextYear,
        [b-35xfdnw97e] .ms-Calendar-prevDecade,
        [b-35xfdnw97e] .ms-Calendar-nextDecade {
            font-size: var(--fontSize-Small);
            width: 28px;
            height: 28px;
            line-height: 28px;
        }

        .ms-Calendar-holder[b-35xfdnw97e] {
            display: inline-block;
            height: auto;
            overflow: hidden;
        }

        [b-35xfdnw97e] .ms-Calendar-monthAndYear,
        [b-35xfdnw97e] .ms-Calendar-year,
        [b-35xfdnw97e] .ms-Calendar-decade {
            font-size: var(--fontSize-Medium);
            color: var(--palette-NeutralPrimary);
        }

        [b-35xfdnw97e] .ms-Calendar-yearComponents {
            margin-left: 1px;
        }

        [b-35xfdnw97e] .ms-Calendar.ms-Calendar-goToday {
            padding: 0 3px;
            /*@include ms-right(20px);*/
        }

        [b-35xfdnw97e] .ms-Calendar-showWeekNumbers ms-Calendar-table .ms-Calendar-dayWrapper,
        [b-35xfdnw97e] .ms-Calendar-showWeekNumbers ms-Calendar-table .ms-Calendar-weekday {
            width: 28px;
        }

        [b-35xfdnw97e] .ms-Calendar-monthPickerVisible .ms-Calendar-wrap {
            padding: 12px;
        }

        [b-35xfdnw97e] .ms-Calendar-monthPickerVisible .ms-Calendar-dayPicker {
            margin: -10px 0;
            padding: 10px 0;
            box-sizing: border-box;
            width: 212px;
            min-height: 200px;
        }

        [b-35xfdnw97e] .ms-Calendar-monthPickerVisible .ms-Calendar-monthPicker {
            display: block;
        }

        [b-35xfdnw97e] .ms-Calendar-monthPickerVisible .ms-Calendar-optionGrid {
            height: 150px;
            width: 196px;
        }

        [b-35xfdnw97e] .ms-Calendar-toggleMonthView {
            display: none;
        }

        [b-35xfdnw97e] .ms-Calendar-currentYear,
        [b-35xfdnw97e] .ms-Calendar-currentDecade {
            font-size: var(--fontSize-Medium);
            margin: 0;
            height: 28px;
            line-height: 28px;
            display: inline-block;
        }

        [b-35xfdnw97e] .ms-Calendar-monthOption,
        [b-35xfdnw97e] .ms-Calendar-yearOption {
            width: 40px;
            height: 40px;
            line-height: 100%;
            font-size: var(--fontSize-Small);
            margin: 0 12px 16px 0;
        }

            [b-35xfdnw97e] .ms-Calendar-monthOption:hover,
            [b-35xfdnw97e] .ms-Calendar-yearOption:hover {
                outline: 1px solid transparent;
            }

            [b-35xfdnw97e] .ms-Calendar-monthOption:nth-child(4n+4),
            [b-35xfdnw97e] .ms-Calendar-yearOption:nth-child(4n+4) {
                margin: 0 0px 16px 0;
            }

        [b-35xfdnw97e] .ms-Calendar-goToday {
            font-size: var(--fontSize-Small);
            height: 28px;
            line-height: 28px;
            padding: 0 10px;
            right: 8px;
            text-align: right;
        }

        [b-35xfdnw97e] .ms-Calendar-isPickingYears .ms-Calendar-dayPicker,
        [b-35xfdnw97e] .ms-Calendar-isPickingYears .ms-Calendar-monthComponents {
            display: block;
        }

        [b-35xfdnw97e] .ms-Calendar-isPickingYears .ms-Calendar-monthPicker {
            display: none;
        }

        [b-35xfdnw97e] .ms-Calendar-isPickingYears .ms-Calendar-yearPicker {
            display: block;
        }

        [b-35xfdnw97e] .ms-Calendar-calendarsInline .ms-Calendar-wrap {
            padding: 12px;
        }

        [b-35xfdnw97e] .ms-Calendar-calendarsInline .ms-Calendar-holder {
            height: auto;
        }

        [b-35xfdnw97e] .ms-Calendar-calendarsInline .ms-Calendar-table {
            margin-right: 12px;
        }

        [b-35xfdnw97e] .ms-Calendar-calendarsInline .ms-Calendar-dayPicker {
            width: auto;
        }

        [b-35xfdnw97e] .ms-Calendar-calendarsInline .ms-Calendar-monthPicker {
            margin-left: 12px;
        }

        [b-35xfdnw97e] .ms-Calendar-calendarsInline .ms-Calendar-yearPicker {
            margin-left: 12px;
        }

        [b-35xfdnw97e] .ms-Calendar-calendarsInline .ms-Calendar-goToday {
            margin-right: 14px;
            padding: 0 10px;
        }

        [b-35xfdnw97e] .ms-Calendar-calendarsInline .ms-Calendar-monthComponents {
            margin-right: 12px;
        }

        [b-35xfdnw97e] .ms-Calendar-monthPickerOnly .ms-Calendar-wrap {
            padding: 12px;
        }

        [b-35xfdnw97e] .ms-Calendar-monthPickerAsOverlay .ms-Calendar-wrap {
            padding-bottom: 28px;
            margin-bottom: 6px;
        }

        [b-35xfdnw97e] .ms-Calendar-monthPickerAsOverlay .ms-Calendar-holder {
            height: 240px;
            min-height: 240px;
        }

        [b-35xfdnw97e] .ms-Calendar-monthPickerAsOverlay .ms-Calendar-holderWithButton {
            padding-top: 6px;
            height: auto;
        }
    }



    @media (max-device-width: 459px) {
        [b-35xfdnw97e] .ms-Calendar-calendarsInline .ms-Calendar-monthPicker,
        [b-35xfdnw97e] .ms-Calendar-calendarsInline .ms-Calendar-yearPicker {
            /*// Month and year pickers, hidden on small screens by default. .monthPicker, .yearPicker*/
            display: none;
        }

        /*// position year components so they do not move when switching between calendars (overlayed calendars)*/
        [b-35xfdnw97e] .ms-Calendar-yearComponents {
            margin-top: 2px;
        }
    }



    [b-35xfdnw97e] .ms-Calendar-goToday {
        width: auto;
    }



    [b-35xfdnw97e] .ms-Calendar-closeButton,
    [b-35xfdnw97e] .ms-Calendar-nextMonth,
    [b-35xfdnw97e] .ms-Calendar-prevMonth,
    [b-35xfdnw97e] .ms-Calendar-nextYear,
    [b-35xfdnw97e] .ms-Calendar-prevYear,
    [b-35xfdnw97e] .ms-Calendar-nextDecade,
    [b-35xfdnw97e] .ms-Calendar-prevDecade {
        display: inline-block;
    }



        [b-35xfdnw97e] .ms-Calendar-closeButton:hover,
        [b-35xfdnw97e] .ms-Calendar-nextMonth:hover,
        [b-35xfdnw97e] .ms-Calendar-prevMonth:hover,
        [b-35xfdnw97e] .ms-Calendar-nextYear:hover,
        [b-35xfdnw97e] .ms-Calendar-prevYear:hover,
        [b-35xfdnw97e] .ms-Calendar-nextDecade:hover,
        [b-35xfdnw97e] .ms-Calendar-prevDecade:hover {
            background-color: var(--palette-NeutralLighter);
            color: var(--palette-NeutralDark);
            /*@include high-contrast {
                        outline: 1px solid highlight;
                    }*/
        }



        [b-35xfdnw97e] .ms-Calendar-closeButton:active,
        [b-35xfdnw97e] .ms-Calendar-nextMonth:active,
        [b-35xfdnw97e] .ms-Calendar-prevMonth:active,
        [b-35xfdnw97e] .ms-Calendar-nextYear:active,
        [b-35xfdnw97e] .ms-Calendar-prevYear:active,
        [b-35xfdnw97e] .ms-Calendar-nextDecade:active,
        [b-35xfdnw97e] .ms-Calendar-prevDecade:active {
            background-color: var(--palette-NeutralLight);
            /*@include high-contrast {
                        outline: 1px solid highlight;
                    }*/
        }



    [b-35xfdnw97e] .ms-Calendar-monthIsHighlighted {
        background-color: var(--palette-NeutralLight);
        color: var(--palette-NeutralDark);
    }



        [b-35xfdnw97e] .ms-Calendar-monthIsHighlighted.ms-Calendar-monthOption:hover {
            background-color: var(--palette-NeutralLight);
            /*@include high-contrast {
                        color: highlight;
                        border: 2px solid highlight;
                        border-radius: 2px;

                        &:hover {
                            outline: 0 !important;
                        }
                    }*/
        }



    [b-35xfdnw97e] .ms-Calendar-monthIsCurrentMonth {
        background-color: var(--palette-NeutralLight);
        color: var(--palette-White);
    }



        [b-35xfdnw97e] .ms-Calendar-monthIsCurrentMonth.ms-Calendar-monthOption:hover {
            background-color: var(--palette-NeutralLighter);
            color: var(--palette-White);
        }



    [b-35xfdnw97e] .ms-Calendar-monthOption:active {
        background-color: var(--palette-NeutralLight);
        color: var(--palette-NeutralDark);
    }



    [b-35xfdnw97e] .ms-Calendar-yearIsHighlighted {
        background-color: var(--palette-NeutralLight);
        color: var(--palette-NeutralDark);
    }



        [b-35xfdnw97e] .ms-Calendar-yearIsHighlighted.ms-Calendar-yearOption:hover {
            background-color: var(--palette-NeutralLighter);
        }



    [b-35xfdnw97e] .ms-Calendar-yearIsCurrentYear {
        background-color: var(--palette-NeutralLight);
        color: var(--palette-White);
    }



        [b-35xfdnw97e] .ms-Calendar-yearIsCurrentYear.yearOption:hover {
            background-color: var(--palette-NeutralLighter);
            color: var(--palette-White);
        }



    [b-35xfdnw97e] .ms-Calendar-yearOption:active {
        background-color: var(--palette-NeutralLight);
        color: var(--palette-NeutralDark);
    }

    /*// Highlighted Month date styling.*/

    [b-35xfdnw97e] .ms-Calendar-topLeftCornerDate {
        border-top-left-radius: 2px;
    }



    [b-35xfdnw97e] .ms-Calendar-topRightCornerDate {
        border-top-right-radius: 2px;
    }



    [b-35xfdnw97e] .ms-Calendar-bottomLeftCornerDate {
        border-bottom-left-radius: 2px;
    }



    [b-35xfdnw97e] .ms-Calendar-bottomRightCornerDate {
        border-bottom-right-radius: 2px;
    }

/* _content/BlazorFluentUI.BFUCalendar/BFUCalendarDay.razor.rz.scp.css */
.ms-Calendar-day[b-d6zebz18jl] {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 100%;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;
}



.ms-Calendar-daySelection .ms-Calendar-day[b-d6zebz18jl] {
    /* high contrast */
}



.ms-Calendar-dayIsToday[b-d6zebz18jl] {
    border-radius: 100%;
}



    .ms-Calendar-dayIsToday[b-d6zebz18jl], .ms-Calendar-dayIsToday:hover[b-d6zebz18jl] {
        position: relative;
        background-color: var(--palette-NeutralLighter);
        /* high contrast */
    }



.ms-Calendar--dayIsToday span[b-d6zebz18jl], .ms-Calendar--dayIsToday:hover span[b-d6zebz18jl] {
    /* high contrast */
}



.ms-Calendar-dayIsToday:hover[b-d6zebz18jl], .ms-Calendar-dayIsToday:hover:hover[b-d6zebz18jl] {
    border-radius: 100%;
}



.ms-Calendar-dayIsDisabled[b-d6zebz18jl]:before {
    border-top-color: var(--palette-NeutralTertiary);
}



.ms-Calendar-dayIsUnfocused[b-d6zebz18jl] {
    color: var(--palette-NeutralSecondary);
    font-weight: var(--fontWeight.Regular);
}



    .ms-Calendar-dayIsFocused:hover[b-d6zebz18jl], .ms-Calendar-dayIsUnfocused:hover[b-d6zebz18jl] {
        cursor: pointer;
        color: var(--palette-NeutralDark);
        background: var(--palette-NeutralLighter);
    }

/*// Highlighted and hovered/focused dates.*/

.ms-Calendar-daySelection.ms-Calendar-dayIsHighlighted:hover[b-d6zebz18jl], .ms-Calendar-pickerIsFocused .ms-Calendar-dayIsHighlighted.ms-Calendar-daySelection[b-d6zebz18jl] {
    cursor: pointer;
    background-color: var(--palette-NeutralLight);
    border-radius: 2px;
    /*@include high-contrast {
                        border: 2px solid Highlight;

                        :not(.dayIsToday) span {
                            color: Highlight;
                        }
                    }*/
}



.ms-Calendar-dayIsHighlighted button.ms-Calendar-dayIsToday[b-d6zebz18jl] {
    /*@include high-contrast {
                        border-radius: 100%;
                    }*/
}



    .ms-Calendar-dayIsHighlighted button.ms-Calendar-dayIsToday span[b-d6zebz18jl] {
        /*@include high-contrast {
                        border-radius: 100%;
                    }*/
    }



.ms-Calendar-dayIsFocused:active[b-d6zebz18jl], .ms-Calendar-dayIsHighlighted[b-d6zebz18jl] {
    background-color: var(--palette-ThemeLight);
}




    .ms-Calendar-dayIsFocused:active.day[b-d6zebz18jl], .ms-Calendar-dayIsHighlighted.day[b-d6zebz18jl] {
        color: var(--palette-NeutralDark);
        background-color: var(--palette-NeutralLight);
    }

    /*// Disabled and highlighted dates.*/

    .ms-Calendar-dayIsHighlighted.dayDisabled[b-d6zebz18jl], .ms-Calendar-dayIsHighlighted.dayDisabled:hover[b-d6zebz18jl] {
        background: var(--palette-NeutralTertiary);
    }

/*// Highlighted date squares*/

.ms-Calendar-dayBackground[b-d6zebz18jl], 
.ms-Calendar-dayBackground:hover[b-d6zebz18jl], 
.ms-Calendar-dayBackground:active[b-d6zebz18jl] {
    border-radius: 2px;
}



.ms-Calendar-dayHover[b-d6zebz18jl], 
.ms-Calendar-dayHover:hover[b-d6zebz18jl] {
    cursor: pointer;
    color: var(--palette-NeutralDark);
    background: var(--palette-NeutralLighter);
}



.ms-Calendar-dayPress[b-d6zebz18jl], 
.ms-Calendar-dayPress:hover[b-d6zebz18jl] {
    cursor: pointer;
    color: var(--palette-NeutralDark);
    background: var(--palette-NeutralLight);
}

    .ms-Calendar-dayPress .ms-Calendar-dayIsToday[b-d6zebz18jl], 
    .ms-Calendar-dayPress:hover .ms-Calendar-dayIsToday[b-d6zebz18jl] {
        background: var(--palette-ThemePrimary);
        border-radius: 100%;
    }



.ms-Calendar-dayIsUnfocused:active[b-d6zebz18jl], 
.ms-Calendar-dayIsFocused:active[b-d6zebz18jl], 
.ms-Calendar-dayIsHighlighted[b-d6zebz18jl], 
.ms-Calendar-dayIsHighlighted:hover[b-d6zebz18jl], 
.ms-Calendar-dayIsHighlighted:active[b-d6zebz18jl], 
.ms-Calendar-weekBackground[b-d6zebz18jl], 
.ms-Calendar-weekBackground:hover[b-d6zebz18jl], 
.ms-Calendar-weekBackground:active[b-d6zebz18jl] {
    background-color: var(--palette-NeutralLight);
    color: var(--palette-NeutralDark);
}



.ms-Calendar-dayIsToday[b-d6zebz18jl], 
.ms-Calendar-pickerIsFocused 
.ms-Calendar-dayIsToday[b-d6zebz18jl], 
.ms-Calendar-dayIsToday.ms-Calendar-day:active[b-d6zebz18jl] {
    position: relative;
    color: var(--palette-White);
    font-weight: var(--fontWeight-SemiBold);
    background: var(--palette-ThemePrimary);
    border-radius: 100%;
}


@media screen and (-ms-high-contrast: active) {
    .ms-Calendar-dayIsToday[b-d6zebz18jl],
    .ms-Calendar-pickerIsFocused
    .ms-Calendar-dayIsToday[b-d6zebz18jl],
    .ms-Calendar-dayIsToday.ms-Calendar-day:active[b-d6zebz18jl] {
        border-color: Highlight;
        color: HighlightText;
        -ms-high-contrast-adjust:none;
    }
}


.ms-Calendar-showWeekNumbers .ms-Calendar-weekNumbers[b-d6zebz18jl] {
    border-right: 1px solid var(--palette-NeutralLight);
    box-sizing: border-box;
    width: 28px;
    padding: 0;
}
    .ms-Calendar-showWeekNumbers .ms-Calendar-weekNumbers .ms-Calendar-dayWrapper[b-d6zebz18jl] {
        color: var(--palette-NeutralSecondary);
    }
        .ms-Calendar-showWeekNumbers .ms-Calendar-weekNumbers .ms-Calendar-dayWrapper.ms-Calendar-weekIsHighlighted[b-d6zebz18jl] {
            /* This doesn't seem to be active in the code at all. */
            color: var(--palette-NeutralPrimary);
        }



    .ms-Calendar-showWeekNumbers .ms-Calendar-table[b-d6zebz18jl] {
        width: 225px;
    }

        .ms-Calendar-showWeekNumbers .ms-Calendar-table .ms-Calendar-dayWrapper[b-d6zebz18jl], 
        .ms-Calendar-showWeekNumbers .ms-Calendar-table .ms-Calendar-weekday[b-d6zebz18jl] {
            width: 30px;
        }

.ms-Calendar-showWeekNumbersRTL .ms-Calendar-weekNumbers[b-d6zebz18jl] {
    border-left: 1px solid var(--palette-NeutralLight);
    box-sizing: border-box;
}
    .ms-Calendar-showWeekNumbersRTL .ms-Calendar-weekNumbers .ms-Calendar-dayWrapper[b-d6zebz18jl] {
        color: var(--palette-NeutralSecondary);
    }
        .ms-Calendar-showWeekNumbersRTL .ms-Calendar-weekNumbers .ms-Calendar-dayWrapper.ms-Calendar-weekIsHighlighted[b-d6zebz18jl] {
            /* This doesn't seem to be active in the code at all. */
            color: var(--palette-NeutralPrimary);
        }
.ms-Calendar-showWeekNumbersRTL .ms-Calendar-table[b-d6zebz18jl] {
    width: 225px;
}

    .ms-Calendar-showWeekNumbersRTL .ms-Calendar-table .ms-Calendar-dayWrapper[b-d6zebz18jl],
    .ms-Calendar-showWeekNumbersRTL .ms-Calendar-table .ms-Calendar-weekday[b-d6zebz18jl] {
        width: 30px;
    }
/* _content/BlazorFluentUI.BFUCalendar/BFUCalendarMonth.razor.rz.scp.css */
/* _content/BlazorFluentUI.BFUCalendar/BFUCalendarYear.razor.rz.scp.css */
