@import '';

/* _content/BlazorFluentUI.BFUDetailsRow/BFUDetailsRow.razor.rz.scp.css */
[b-wjftddejg8] .ms-DetailsRow {
    outline: transparent;
    position: relative;

    font-size: var(--fontSize-Small);
    font-weight: var(--fontWeight-Regular);
    border-bottom: 1px solid var(--palette-NeutralLighter);
    background: var(--palette-White);
    color: var(--palette-NeutralSecondary);
    display: inline-flex;
    min-width: 100%;
    width: 100%; /* added to make DetailsRow fit width of window */
    min-height: 42px;
    white-space: nowrap;
    padding: 0px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
}

.ms-Fabric--isFocusVisible[b-wjftddejg8]  .ms-DetailsRow:focus::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--semanticColors-FocusBorder);
    outline: 1px solid var(--palette-White);
    z-index: var(--zIndex-FocusStyle);
}

.ms-List-cell:first-child[b-wjftddejg8]  .ms-DetailsRow:before {
    display: none;
}

[b-wjftddejg8] .ms-DetailsRow:hover {
    background: var(--palette-NeutralLighter);
    color: var(--palette-NeutralPrimary);
}

[b-wjftddejg8] .ms-DetailsRow:hover .is-row-header {
    color: var(--palette-NeutralDark);
}

[b-wjftddejg8] .ms-DetailsRow:hover .ms-DetailsRow-check {
    opacity: 1;
}

.ms-Fabric--isFocusVisible[b-wjftddejg8]  .ms-DetailsRow:focus .ms-DetailsRow-check {
    opacity: 1;
}



[b-wjftddejg8] .ms-DetailsRow.is-selected {
    color: var(--palette-NeutralPrimary);
    background: var(--palette-NeutralLight);
    border-bottom: 1px solid var(--palette-White);
}

.ms-Fabric--isFocusVisible[b-wjftddejg8]  .ms-DetailsRow.is-selected:focus::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border: 1px solid var(--semanticColors-FocusBorder);
    outline: 1px solid var(--palette-White);
    z-index: var(--zIndex-FocusStyle);
}



[b-wjftddejg8] .ms-DetailsRow.is-selected:before {
    position: absolute;
    display: block;
    top: -1px;
    height: 1px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: '';
    border-top: 1px solid var(--palette-White);
}

[b-wjftddejg8] .ms-DetailsRow.is-selected:hover {
    background: var(--palette-NeutralQuaternaryAlt);
    color: var(--palette-NeutralPrimary);
}

@media screen and (-ms-high-contrast: active) {
    .ms-DetailsRow.is-selected:hover .ms-DetailsRow-cell[b-wjftddejg8] {
        color: HighlightText;
    }

        .ms-DetailsRow.is-selected:hover .ms-DetailsRow-cell > a[b-wjftddejg8] {
            color: HighlightText;
        }
}

[b-wjftddejg8] .ms-DetailsRow.is-selected.is-row-header:hover {
    color: var(--palette-NeutralDark);
}

@media screen and (-ms-high-contrast: active) {

    .ms-DetailsRow.is-selected.is-row-header:hover[b-wjftddejg8] {
        color: HighlightText;
    }

    .ms-DetailsRow.is-selected:hover[b-wjftddejg8] {
        background: Highlight;
    }
}

/*focus for is-selected*/
[b-wjftddejg8] .ms-DetailsRow.is-selected:focus {
    background: var(--palette-NeutralLight);
}
[b-wjftddejg8] .ms-DetailsRow.is-selected:focus .ms-DetailsRow-cell {
    color: var(--palette-NeutralPrimary);
}

@media screen and (-ms-high-contrast: active) {
    .ms-DetailsRow.is-selected:focus .ms-DetailsRow-cell[b-wjftddejg8] {
        color: HighlightText;
    }
        .ms-DetailsRow.is-selected:focus .ms-DetailsRow-cell > a[b-wjftddejg8] {
            background: Highlight;
        }
}


[b-wjftddejg8] .ms-DetailsRow.is-selected.is-row-header:focus {
    color: var(--palette-NeutralDark);
}

@media screen and (-ms-high-contrast: active) {

    .ms-DetailsRow.is-selected.is-row-header:focus[b-wjftddejg8] {
        color: HighlightText;
    }
}

@media screen and (-ms-high-contrast: active) {
    .ms-DetailsRow.is-selected:focus[b-wjftddejg8] {
        background: HighlightText;
    }
}

@media screen and (-ms-high-contrast: active) {
    .ms-DetailsRow.is-selected[b-wjftddejg8] {
        background: Highlight;
        color: HighlightText;
        -ms-high-contrast-adjust: none;
    }

        .ms-DetailsRow.is-selected a[b-wjftddejg8] {
            color: HighlightText;
        }
}
/*focus and hover state*/

[b-wjftddejg8] .ms-DetailsRow.is-selected.is-row-header:focus {
    background: var(--palette-NeutralQuaternaryAlt);
}

[b-wjftddejg8] .ms-DetailsRow.is-compact {
    min-height: 32px;
    border: 0
}

    .ms-DetailsRow.is-compact.is-selected[b-wjftddejg8]:before {
        display: none;
    }

/* CellUnpadded */
[b-wjftddejg8] .ms-DetailsRow-cellUnpadded {
    padding-right: 8px;
}

[b-wjftddejg8] .ms-DetailsRow-cellPadded {
    padding-right: 32px;
}

    [b-wjftddejg8] .ms-DetailsRow-cellPadded.ms-DetailsRow-cellCheck {
        padding-right: 0px;
    }

/*Cell*/

[b-wjftddejg8] .ms-DetailsRow .ms-DetailsRow-cell {
    outline: transparent;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    min-height: 42px;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
}

.ms-Fabric--isFocusVisible[b-wjftddejg8]  .ms-DetailsRow .ms-DetailsRow-cell:focus::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border: 1px solid var(--palette-NeutralSecondary);
    outline: 1px solid var(--palette-White);
    z-index: var(--zIndex-FocusStyle);
}

[b-wjftddejg8] .ms-DetailsRow .ms-DetailsRow-cell > button {
    max-width: 100%;
}


@media screen and (-ms-high-contrast: active) {
    .ms-DetailsRow.is-selected .ms-DetailsRow-cell[b-wjftddejg8] {
        background: Highlight;
        color: HighlightText;
        -ms-high-contrast-adjust: none;
    }
        .ms-DetailsRow.is-selected .ms-DetailsRow-cell > a[b-wjftddejg8] {
            color: HighlightText;
        }
}

.ms-Fabric--isFocusVisible[b-wjftddejg8]  .ms-DetailsRow .ms-DetailsRow-cell[data-is-focusable='true']:focus::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border: 1px solid var(--palette-NeutralSecondary);
    outline: 1px solid var(--palette-White);
    z-index: var(--zIndex-FocusStyle);
}

[b-wjftddejg8] .ms-DetailsRow.is-compact .ms-DetailsRow-cell {
    min-height: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
}


/* CellMeasurer */
[b-wjftddejg8] .ms-DetailsRow-cellMeasurer {
    overflow: visible;
    white-space: nowrap;
}

/* CheckCell */
[b-wjftddejg8] .ms-DetailsRow-checkCell {
    padding: 0px;
    padding-top: 1px;
    margin-top: -1px;
    flex-shrink: 0;
}


/* CheckCover */
[b-wjftddejg8] .ms-DetailsRow-checkCover {
    position: absolute;
    top: -1px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

/*Fields*/
[b-wjftddejg8] .ms-DetailsRow-fields {
    display: flex;
    align-items: stretch;
    overflow-x: hidden;
}

/*IsRowHeader*/
[b-wjftddejg8] .ms-DetailsRow.is-row-header {
    color: var(--palette-NeutralPrimary);
    font-size: var(--fontSize-Medium);
}

    [b-wjftddejg8] .ms-DetailsRow.is-row-header.is-selected {
        color: var(--palette-NeutralDark);
        font-weight: var(--fontWeight-SemiBold);
    }

@media screen and (-ms-high-contrast: active) {
    [b-wjftddejg8] .ms-DetailsRow.is-row-header.is-selected {
        color: HighlightText;
    }
}

/*IsMultiline*/
[b-wjftddejg8] .ms-DetailsRow.is-multiline {
    white-space: normal;
    word-break: break-word;
    text-overflow: clip;
}

/* _content/BlazorFluentUI.BFUDetailsRow/BFUDetailsRowCheck.razor.rz.scp.css */
.ms-DetailsRow-check[b-fy06nd6g2q] {
    outline: transparent;
    position:relative; 

    font-size: var(--fontSize-Small);
    font-weight: var(--fontWeight-Regular);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    box-sizing: border-box;
    vertical-align: top;
    background: none;
    background-color: transparent;
    border: none;
    opacity: 0;
    height: 42px;
    width: 48px;
    padding: 0px;
    margin: 0px;
}

.ms-Fabric--isFocusVisible .ms-DetailsRow-check:focus[b-fy06nd6g2q]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}

@media screen and (-ms-high-contrast: active){
    .ms-Fabric--isFocusVisible .ms-DetailsRow-check:focus[b-fy06nd6g2q]::after {
        /* missing */
    }
}


/*.ms-DetailsRow-check::moz-focus-inner{
    border:0;
}*/
.ms-DetailsRow.is-compact .ms-DetailsRow-check[b-fy06nd6g2q] {
    height: 32px;
}

.ms-DetailsRow.is-header .ms-DetailsRow-check[b-fy06nd6g2q] {
    height: 42px;
}

.ms-DetailsRow-check.is-checked[b-fy06nd6g2q], .ms-DetailsRow-check.is-visible[b-fy06nd6g2q] {
    opacity: 1;
}
