@import '';

/* _content/BlazorFluentUI.BFUDetailsList/BFUDetailsColumn.razor.rz.scp.css */
.ms-DetailsColumn[b-4kcl9g71gs] {
    font-size: var(--fontSize-Small);
    font-weight: var(--fontWeight-Regular);
}


.ms-DetailsColumn[b-4kcl9g71gs] {
    color: var(--semanticTextColors-BodyText);
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 0 8px 0 12px;
    line-height: inherit;
    margin: 0;
    height: 42px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

    .ms-DetailsColumn[b-4kcl9g71gs]::-moz-focus-inner {
        border: 0;
    }

.ms-Fabric--isFocusVisible .ms-DetailsColumn:focus[b-4kcl9g71gs]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}
@media screen and (-ms-high-contrast: active) {
    .ms-DetailsColumn:focus[b-4kcl9g71gs]::after {
        
    }
}

.ms-DetailsColumn.is-actionable:hover[b-4kcl9g71gs] {
    color: var(--semanticTextColors-BodyText);
    background: var(--semanticColors-ListHeaderBackgroundHovered);
}

.ms-DetailsColumn.is-actionable:active[b-4kcl9g71gs] {
    background: var(--semanticColors-ListHeaderBackgroundPressed);
}


.ms-DetailsColumn.is-empty[b-4kcl9g71gs] {
    text-overflow: clip;
}

.ms-DetailsColumn.is-padded[b-4kcl9g71gs] {
    padding-right: 32px;
}

    .ms-DetailsColumn.is-padded:hover i[data-icon-name='GripperBarVertical'][b-4kcl9g71gs] {
        display: block;
    }

/*GripperBarVerticalStyle*/
.ms-DetailsColumn-gripperBar[b-4kcl9g71gs] {
    display: none;
    position: absolute;
    text-align: left;
    color: var(--palette-NeutralTertiary);
    left: 1px;
}

/*NearIcon*/
.ms-DetailsColumn-nearIcon[b-4kcl9g71gs] {
    color: var(--semanticTextColors-BodySubtext);
    opacity: 1;
    padding-left: 8px;
}

/*SortIcon*/
.ms-DetailsColumn-sortIcon[b-4kcl9g71gs] {
    color: var(--semanticTextColors-BodySubtext);
    opacity: 1;
    padding-left: 4px;
    position: relative;
    top: 1px;
}

/*FilterChevron*/
.ms-DetailsColumn-filterChevron[b-4kcl9g71gs] {
    color: var(--palette-NeutralTertiary);
    padding-left: 6px;
    vertical-align: middle;
    font-size: var(--fontSize-Small);
}

/*CellTitle*/
.ms-DetailsColumn-cellTitle[b-4kcl9g71gs]::-moz-focus-inner {
    border: 0;
}

.ms-Fabric--isFocusVisible .ms-DetailsColumn-cellTitle:focus[b-4kcl9g71gs]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}

@media screen and (-ms-high-contrast: active) {
    .ms-DetailsColumn-cellTitle:focus[b-4kcl9g71gs]::after {
    }
}

.ms-DetailsColumn-cellTitle[b-4kcl9g71gs] {
    outline: transparent;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 8px 0 12px;
}
.ms-DetailsColumn.is-iconOnly .ms-DetailsColumn-cellTitle .ms-DetailsColumn-nearIcon[b-4kcl9g71gs] {
    padding-left: 0;
}


/*CellTitle*/
.ms-DetailsColumn-cellTooltip[b-4kcl9g71gs] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
/* _content/BlazorFluentUI.BFUDetailsList/BFUDetailsHeader.razor.rz.scp.css */
.ms-DetailsHeader-root[b-apxzhh2ajs] {
    display: flex; /*// inline-block is seeing all the razor whitespace artifacts and adding extra spaces... switched to flex.*/
    position: relative;
}

[b-apxzhh2ajs] .ms-DetailsHeader {
    font-size: var(--fontSize-Small);
    font-weight: var(--fontWeight-Regular);
    display: flex; /*// inline-block is seeing all the razor whitespace artifacts and adding extra spaces... switched to flex.*/
    background: var(--semanticColors-BodyBackground);
    position: relative;
    min-width: 100%;
    vertical-align: top;
    height: 42px;
    line-height: 42px;
    white-space: nowrap;
    box-sizing: content-box;
    padding-bottom: 1px;
    padding-top: 16px;
    border-bottom: 1px solid var(--semanticColors-BodyDivider);
    cursor: default;
    user-select: none;
}

    [b-apxzhh2ajs] .ms-DetailsHeader:hover .ms-DetailsHeader-check {
        opacity: 1;
    }

.ms-DetailsHeader-tooltipHost .ms-DetailsHeader-checkTootip[b-apxzhh2ajs] {
    display: block;
}

[b-apxzhh2ajs] .ms-DetailsHeader-check {
    height: 42px;
}

.ms-Fabric--isFocusVisible .ms-DetailsHeader-cellIsCheck[b-apxzhh2ajs]  .ms-DetailsHeader-check {
    opacity: 1;
}

.ms-DetailsHeader-cellWrapperPadded[b-apxzhh2ajs] {
    padding-right: 32px;
}


div.ms-DetailsHeader-cellIsCheck[b-apxzhh2ajs] {
    color: var(--semanticTextColors-BodyText);
    /*display: inline-block;*/
    /*position: relative;*/
    box-sizing: border-box;
    /*padding: 0 8px 0 12px;*/
    line-height: inherit;
    margin: 0;
    height: 42px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;

    position: relative;
    padding: 0px;
    margin: 0;
    display: inline-flex;
    align-items: center;
    border: none;
    outline: transparent;
    position: relative;
}
div.ms-DetailsHeader-cellIsCheck[b-apxzhh2ajs]::-moz-focus-inner {
    border: 0;
}
.ms-Fabric--isFocusVisible div.ms-DetailsHeader-cellIsCheck:focus[b-apxzhh2ajs]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}



[b-apxzhh2ajs] .ms-DetailsHeader.is-allSelected .ms-DetailsHeader-cellIsCheck {
    opacity: 1;
}


.ms-DetailsHeader-cellIsGroupExpander[b-apxzhh2ajs] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fontSize-Small);
    padding: 0;
    border: none;
    width: 36px;
    color: var(--palette-NeutralSecondary);

    outline: transparent;
    position: relative;
    color: var(--semanticTextColors-BodyText);
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    padding: 0 8px 0 12px;
    line-height: inherit;
    margin: 0;
    height: 42px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.ms-DetailsHeader-cellIsGroupExpander[b-apxzhh2ajs]::-moz-focus-inner {
    border: 0;
}

.ms-Fabric--isFocusVisible .ms-DetailsHeader-cellIsGroupExpander:focus[b-apxzhh2ajs]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}

.ms-DetailsHeader-cellIsGroupExpander:hover[b-apxzhh2ajs] {
    background-color: var(--palette-NeutralLighter);
}

.ms-DetailsHeader-cellIsGroupExpander:active[b-apxzhh2ajs] {
    background-color: var(--palette-NeutralLight);
}

/*cellIsActionable SKIPPED BECAUSE this is a property of DetailsColumn which is a child...*/
/*cellIsEmpty also skipped*/


.ms-DetailsHeader-cellSizer[b-apxzhh2ajs] {
    display: inline-block;
    position: relative;
    cursor: ew-resize;
    bottom: 0;
    top: 0;
    overflow: hidden;
    height: inherit;
    background: transparent;
    z-index: 1;
    width: 16px;
    outline: transparent;
    position: relative;
}

.ms-DetailsHeader-cellSizer[b-apxzhh2ajs]::-moz-focus-inner {
    border: 0;
}

.ms-Fabric--isFocusVisible .ms-DetailsHeader-cellSizer:focus[b-apxzhh2ajs]::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    border: 1px solid var(--palette-White);
    outline: 1px solid var(--palette-NeutralSecondary);
    z-index: var(--zIndex-FocusStyle);
}


.ms-DetailsHeader-cellSizer[b-apxzhh2ajs]::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    width: 1px;
    background: var(--palette-NeutralTertiaryAlt);
    opacity: 0;
    left: 50%;
}

.ms-DetailsHeader-cellSizer:focus[b-apxzhh2ajs]::after, 
.ms-DetailsHeader-cellSizer:hover[b-apxzhh2ajs]::after {
    opacity: 1;
    transition: opacity 0.3s linear;
}

.ms-DetailsHeader-cellSizer.is-resizing[b-apxzhh2ajs]::after {
    opacity: 1;
    transition: opacity 0.3s linear;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}


.ms-DetailsHeader-cellSizerStart[b-apxzhh2ajs] {
    margin: 0 -8px;
}

.ms-DetailsHeader-cellSizerEnd[b-apxzhh2ajs] {
    margin: 0;
    margin-left: -16px;
}

[b-apxzhh2ajs] .ms-DetailsHeader-collapseButton {
    transform-origin: 50% 50%;
    transition: transform .1s linear;
    transform: rotate(90deg);
}

    [b-apxzhh2ajs] .ms-DetailsHeader-collapseButton.is-collapsed {
        transform: rotate(0deg);
    }

.ms-DetailsHeader-sizingOverlay.is-sizing[b-apxzhh2ajs] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: ew-resize;
    background: rgba(255,255,255,0);
}

@media screen and (-ms-high-contrast: active) {
    .ms-DetailsHeader-sizingOverlay.is-sizing[b-apxzhh2ajs] {
        background: transparent;
        -ms-high-contrast-adjust: none;
    }
}

.ms-DetailsHeader-accessibleLabel[b-apxzhh2ajs] {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}

/*//dropHintCircle //doesn't seem to be used*/
.ms-DetailsHeader-dropHintCircle[b-apxzhh2ajs] {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    margin-left: -5px;
    top: 34px;
    overflow: visible;
    z-index: 10;
    border: 1px solid var(--palette-ThemePrimary);
    background: var(--palette-White);
}


[b-apxzhh2ajs] .ms-DetailsHeader-dropHintCaret {
    display: none;
    position: absolute;
    top: -28px;
    left: -6.5px;
    font-size: var(--fontSize-Medium);
    color: var(--palette-ThemePrimary);
    overflow: visible;
    z-index: 10;
}

.ms-DetailsHeader-dropHintLine[b-apxzhh2ajs] {
    display: none;
    position: absolute;
    bottom: 0px;
    top: 0px;
    overflow: visible;
    height: 42px;
    width: 1px;
    background: var(--palette-ThemePrimary);
    z-index: 10;
}

.ms-DetailsHeader-dropHint[b-apxzhh2ajs] {
    display: inline-block;
    position: absolute;
}

/*//NOT DONE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// Skipped
*/
