@import '';

/* _content/BlazorFluentUI.BFUMessageBar/BFUMessageBar.razor.rz.scp.css */

.ms-MessageBar[b-rrytucmjx1] {
    background: var(--palette-NeutralLighter);
    color: var(--palette-NeutralPrimary);
    min-height: 32px;
    width: 100%;
    display: flex;
    word-break: break-word;
}


    .ms-MessageBar.ms-MessageBar--error[b-rrytucmjx1], .ms-MessageBar.ms-MessageBar--blocked[b-rrytucmjx1] {
        background: var(--semanticColors-ErrorBackground);
    }


    .ms-MessageBar.ms-MessageBar--severeWarning[b-rrytucmjx1] {
        background: var(--semanticColors-BlockingBackground);
    }


    .ms-MessageBar.ms-MessageBar--success[b-rrytucmjx1] {
        background: var(--semanticColors-SuccessBackground);
    }


    .ms-MessageBar.ms-MessageBar--warning[b-rrytucmjx1] {
        background: var(--semanticColors-WarningBackground);
    }


    .ms-MessageBar.ms-MessageBar-multiline[b-rrytucmjx1] {
        flex-direction: column;
    }


    .ms-MessageBar .ms-Link[b-rrytucmjx1] {
        color: var(--palette-ThemeDark);
        font-size: var(--fontSize-Small);
        font-weight: var(--fontWeight-Regular);
    }


@media screen and (-ms-high-contrast: active) {
    .ms-MessageBar .ms-Link[b-rrytucmjx1] {
        -ms-high-contrast-adjust: auto;
    }

    .ms-MessageBar.ms-MessageBar--error[b-rrytucmjx1], 
    .ms-MessageBar.ms-MessageBar--blocked[b-rrytucmjx1], 
    .ms-MessageBar.ms-MessageBar--severeWarning[b-rrytucmjx1] {
        background: rgba(255, 0, 0, 0.3);
        border: 1px solid WindowText;
        color: WindowText;
    }

    .ms-MessageBar.ms-MessageBar--success[b-rrytucmjx1] {
        background: rgba(48, 241, 73, 0.3);
        border: 1px solid WindowText;
        color: WindowText;
    }

    .ms-MessageBar.ms-MessageBar--warning[b-rrytucmjx1] {
        background: rgba(255, 254, 57, 0.3);
        border: 1px solid WindowText;
        color: WindowText;
    }

    .ms-MessageBar[b-rrytucmjx1] {
        background: Window;
        border: 1px solid WindowText;
        color: WindowText;
    }
}



.ms-MessageBar-content[b-rrytucmjx1] {
    display: flex;
    width: 100%;
    line-height: normal;
}


.ms-MessageBar-icon[b-rrytucmjx1] {
    font-size: var(--iconFontSize-Medium);
    min-width: 16px;
    min-height: 16px;
    display: flex;
    flex-shrink: 0;
    margin: 8px 0 8px 12px;
}


    .ms-MessageBar-icon[b-rrytucmjx1]  .ms-Icon {
        color: var(--palette-NeutralSecondary);
    }


    .ms-MessageBar-icon.ms-MessageBar--error[b-rrytucmjx1]  .ms-Icon,
    .ms-MessageBar-icon.ms-MessageBar--blocked[b-rrytucmjx1]  .ms-Icon,
    .ms-MessageBar-icon.ms-MessageBar--severeWarning[b-rrytucmjx1]  .ms-Icon {
        color: var(--semanticTextColors-ErrorText);
    }


    .ms-MessageBar-icon.ms-MessageBar--success[b-rrytucmjx1]  .ms-Icon {
        color: var(--palette-Green);
    }


    .ms-MessageBar-icon.ms-MessageBar--warning[b-rrytucmjx1]  .ms-Icon {
        color: var(--semanticTextColors-WarningText);
    }


@media screen and (-ms-high-contrast: active) {
    .ms-MessageBar-icon[b-rrytucmjx1] {
        -ms-high-contrast-adjust: none;
        color: WindowText;
    }
}

.ms-MessageBar-text[b-rrytucmjx1] {
    min-width: 0;
    display: flex;
    flex-grow: 1;
    margin: 8px;
    font-size: var(--fontSize-Small);
    font-weight: var(--fontWeight-Regular);
}


    .ms-MessageBar-text:not(.ms-MessageBar-dismissSingleLine)[b-rrytucmjx1] {
        margin-right: 12px;
    }


@media screen and (-ms-high-contrast: active) {
    .ms-MessageBar-text[b-rrytucmjx1] {
        -ms-high-contrast-adjust: none;
    }
}


.ms-MessageBar-innerText[b-rrytucmjx1] {
    line-height: 16px;
}


    .ms-MessageBar-innerText span[b-rrytucmjx1],
    .ms-MessageBar-innerText a[b-rrytucmjx1] {
        padding-left: 4px;
    }


    .ms-MessageBar-innerText.ms-MessageBar-expandSingleLine[b-rrytucmjx1] {
        overflow: visible;
        white-space: normal;
    }


    .ms-MessageBar-innerText:not(.ms-MessageBar-multiline):not(.ms-MessageBar-expandSingleLine)[b-rrytucmjx1] {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


[b-rrytucmjx1] .ms-MessageBar-dismissal {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    padding: 8px 12px;
}


    [b-rrytucmjx1] .ms-MessageBar-dismissal.ms-Button-icon {
        font-size: var(--fontSize-XSmall);
        height: 10px;
        line-height: 10px;
        color: var(--palette-NeutralPrimary);
    }


    [b-rrytucmjx1] .ms-MessageBar-dismissal.ms-Button--icon:hover {
        background-color: transparent;
    }


    [b-rrytucmjx1] .ms-MessageBar-dismissal.ms-Button--icon:active {
        background-color: transparent;
    }


@media screen and (-ms-high-contrast: active) {
    [b-rrytucmjx1] .ms-MessageBar-dismissal.ms-Button-icon {
        -ms-high-contrast-adjust: none;
        color: WindowText;
    }
}


[b-rrytucmjx1] .ms-MessageBar-expand {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    padding: 8px 12px;
}


    [b-rrytucmjx1] .ms-MessageBar-expand.ms-Button-icon {
        font-size: var(--fontSize-XSmall);
        height: 10px;
        line-height: 10px;
        color: var(--palette-NeutralPrimary);
    }


    [b-rrytucmjx1] .ms-MessageBar-expand.ms-Button--icon:hover {
        background-color: transparent;
    }


    [b-rrytucmjx1] .ms-MessageBar-expand.ms-Button--icon:active {
        background-color: transparent;
    }


@media screen and (-ms-high-contrast: active) {
    [b-rrytucmjx1] .ms-MessageBar-expand.ms-Button-icon {
        -ms-high-contrast-adjust: none;
        color: WindowText;
    }
}


.ms-MessageBar-actions[b-rrytucmjx1] {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    flex-Direction: row-reverse;
    align-items: center;
    margin: 0 12px 8px 8px;
}


    .ms-MessageBar-actions[b-rrytucmjx1]  button:nth-child(n+2) {
        margin-left: 8px;
    }


.ms-MessageBar-actionsSingleLine[b-rrytucmjx1] {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    flex-Direction: row-reverse;
    align-items: center;
    margin: 0 12px 0px 8px;
}


    .ms-MessageBar-actionsSingleLine[b-rrytucmjx1]  button:nth-child(n+2) {
        margin-left: 8px;
    }


    .ms-MessageBar-actionsSingleLine .ms-MessageBar-dismissSingleLine[b-rrytucmjx1] {
        margin-right: 0;
    }
