@import '';

/* _content/BlazorFluentUI.BFUDialog/BFUDialog.razor.rz.scp.css */
/* _content/BlazorFluentUI.BFUDialog/BFUDialogContent.razor.rz.scp.css */
.ms-Dialog-content.ms-Dialog--lgHeader[b-y69bltpqay] {
    border-top: 4px solid var(--palette-ThemePrimary);
}
.ms-Dialog-content.ms-Dialog--close[b-y69bltpqay] {
    flex-grow: 1;
    overflow-y: hidden;
}
.ms-Dialog-subText[b-y69bltpqay] {
    margin: 0 0 24px 0;
    color: var(--semanticTextColors-ButtonText);
    line-height: 1.5;
    word-break: break-word;
    font-weight: var(--fontWeight-Regular);
}

.ms-Dialog-header[b-y69bltpqay] {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.ms-Dialog-inner[b-y69bltpqay] {
    padding: 0 24px 24px;
}

@media (min-width:320px) and (max-width:479px) {
    .ms-Dialog-inner[b-y69bltpqay] {
        padding: 0 16px 16px;
    }
}

.ms-Dialog-innerContent[b-y69bltpqay] {
    position: relative;
    width: 100%;
}

.ms-Dialog-title[b-y69bltpqay] {
    color: var(--semanticTextColors-BodyText);
    margin: 0;
    padding: 16px 46px 20px 24px;
    line-height: normal;
}

.ms-Dialog--lgHeader .ms-Dialog-title[b-y69bltpqay] {
    color: var(--semanticColors-MenuHeader);
}
.ms-Dialog--multiline .ms-Dialog-title[b-y69bltpqay] {
    font-size: var(--fontSize-XxLarge);
}

@media (min-width:320px) and (max-width:479px) {

    .ms-Dialog-title[b-y69bltpqay] {
        padding: 16px 46px 16px 16px;
    }
}


.ms-Dialog-topButton[b-y69bltpqay] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 15px 0 0;
}

    .ms-Dialog-topButton[b-y69bltpqay]  > * {
        flex: 0 0 auto;
    }
    .ms-Dialog-topButton[b-y69bltpqay]  .ms-Dialog-button {
        color: var(--semanticTextColors-ButtonText);
    }
        .ms-Dialog-topButton[b-y69bltpqay]  .ms-Dialog-button:hover {
            color: var(--semanticTextColors-ButtonTextHovered);
            border-radius: var(--effects-RoundedCorner2);
        }

@media (min-width:320px) and (max-width:479px) {
    .ms-Dialog-topButton[b-y69bltpqay] {
        padding: 15px 8px 0 0;
    }
}

.ms-Dialog-actions[b-y69bltpqay] {
    position: relative;
    width: 100%;
    min-height: 24px;
    line-height: 24px;
    margin: 16px 0 0;
    font-size: 0;
}

    .ms-Dialog-actions[b-y69bltpqay]  .ms-Button {
        line-height: normal;
    }

.ms-Dialog-actionsRight[b-y69bltpqay] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -4px;
    font-size: 0;
}

    .ms-Dialog-actionsRight[b-y69bltpqay]  > * {
        margin: 0 4px;
    }
