@import '';

/* _content/BlazorFluentUI.BFUImage/BFUImage.razor.rz.scp.css */
.ms-Image[b-7dkngtoqyf] {
    overflow: hidden;
}

.ms-Image--maximizeFrame[b-7dkngtoqyf] {
    height: 100%;
    width: 100%;
}

.ms-Image--relative[b-7dkngtoqyf] {
    position: relative;
}

.ms-Image-image[b-7dkngtoqyf] {
    display: block;
}

.ms-Image-image--fitStyles[b-7dkngtoqyf] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.ms-Image-image--contain[b-7dkngtoqyf] {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ms-Image-image--cover[b-7dkngtoqyf] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ms-Image-image--none[b-7dkngtoqyf] {
    width: auto;
    height: auto;
}
