@import '';

/* _content/BlazorFluentUI.BFULink/BFULink.razor.rz.scp.css */
.ms-Link[b-3cdk6m5x4r] {
    color: var(--semanticTextColors-Link);
    outline: none;
    font-size: inherit;
    font-weight: inherit;
}
    .ms-Link.isButton[b-3cdk6m5x4r] {
        background: none;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: inline;
        margin: 0;
        overflow: inherit;
        padding: 0;
        text-align: left;
        text-overflow: inherit;
        user-select: text;
        border-bottom: 1px solid transparent;
    }
    .ms-Link:not(.isButton)[b-3cdk6m5x4r] {
        text-decoration: none;
    }
    .ms-Link.isDisabled[b-3cdk6m5x4r] {
        color: var(--semanticTextColors-DisabledText);
        cursor: default;
    }
        .ms-Link.isDisabled:link[b-3cdk6m5x4r], 
        .ms-Link.isDisabled:visited[b-3cdk6m5x4r] {
            pointer-events: none;
        }
        .ms-Link.isDisabled:link[b-3cdk6m5x4r],
        .ms-Link.isDisabled:visited[b-3cdk6m5x4r] {
            pointer-events: none;
        }
    .ms-Link:not(.isDisabled):hover:active[b-3cdk6m5x4r],
    .ms-Link:not(.isDisabled):hover[b-3cdk6m5x4r],
    .ms-Link:not(.isDisabled):active[b-3cdk6m5x4r] {
        color: var(--semanticTextColors-LinkHovered);
        text-decoration: underline;
    }
    .ms-Link:not(.isDisabled):focus[b-3cdk6m5x4r] {
        color: var(--semanticTextColors-Link);
    }
